[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ting Shen (stgogogo)
[access "refs/for/refs/*"]
	read = group user/Ting Shen (stgogogo)
	push = group user/Ting Shen (stgogogo)
	label-Code-Review = -2..+2 group user/Ting Shen (stgogogo)
	label-Verified = -1..+1 group user/Ting Shen (stgogogo)
	rebase = group user/Ting Shen (stgogogo)
	removeReviewer = group user/Ting Shen (stgogogo)
	submit = group user/Ting Shen (stgogogo)
[access "refs/heads/*"]
	read = group user/Ting Shen (stgogogo)
	create = group user/Ting Shen (stgogogo)
	push = +force group user/Ting Shen (stgogogo)
	pushMerge = group user/Ting Shen (stgogogo)
[access "refs/tags/*"]
	push = +force group user/Ting Shen (stgogogo)
	pushTag = group user/Ting Shen (stgogogo)
	pushSignedTag = group user/Ting Shen (stgogogo)
